name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

env:
  NODE_VERSION: 24

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    name: Build and release

    permissions:
      contents: write # for softprops/action-gh-release to create GitHub release
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm --filter=!./examples/* install

      - name: Build
        run: pnpm run build

      - name: Calculate environment variables
        run: |
          echo "RELEASE_CHANNEL=$(node ./scripts/release-channel.js)" >> $GITHUB_ENV

      - name: Publish
        run: |
          pnpm --recursive publish --tag ${{ env.RELEASE_CHANNEL }} --no-git-checks
